{include file="header.html"}

{include file="navbar.html"}

	<div class="jumbotron">
	  <div class="container">
		<h2>Case studies & Real life examples</h2>
		<p>Try something different instead of the same old lorem ipsum. Below you can find several alternatives.</p>
	  </div>
	</div>

	<div class="row">
		<nav id="affix-nav" class="sidebar col-md-3 col-sm-3">
			<ul class="nav sidenav affix" data-spy="affix" data-offset-top="300">
				{include file='caseStudies/chat.html' fragment='head'}
				{include file='caseStudies/game.html' fragment='head'}
				{include file='caseStudies/map.html' fragment='head'}
			</ul>
		</nav>
		<section id="content" class="col-md-8 col-sm-8 col-xs-12">
				{include file='caseStudies/chat.html'}
				{include file='caseStudies/game.html'}
				{include file='caseStudies/map.html'}
		</section> 
		
	</div><!-- end of row -->

	
{include file="footer.html"}