{if $fragment eq 'head'}
	<li>
		<a href="#monolog">Monolog</a>
		<ul class="nav">
			<li><a href="#monolog-install">installation</a></li>
			<li><a href="#monolog-usage">usage</a></li>
		</ul>
	</li>
{else}
	<div class="article" id="monolog">
	<h2>PSR/Monolog Logging framework</h2>
	<p>Cupcake ipsum dolor sit amet toffee icing. Muffin danish cotton candy pudding cake danish chocolate candy. Oat cake apple pie ice cream biscuit brownie. Cookie chupa chups jelly lollipop. Chocolate cake sweet gummies ice cream powder gummi bears lemon drops icing caramels. Sesame snaps gingerbread chocolate bar sugar plum fruitcake icing jujubes pie.</p>
	
		<section id="monolog-install">
			<h3>installation</h3>
			<p>Macaroon bonbon powder. Chocolate cupcake danish. Apple pie unerdwear.com brownie jelly. Halvah tart fruitcake gingerbread liquorice. Pastry caramels powder. Danish macaroon jujubes dragée croissant ice cream chocolate tootsie roll gummi bears. Tart jelly-o oat cake wafer.</p>
		</section>

		<section id="monolog-usage">
			<h3>usage</h3>
			<p>Lemon drops chocolate cake jelly beans chocolate wafer unerdwear.com. Apple pie jelly beans topping danish candy canes carrot cake toffee jelly beans. Sweet roll dragée icing applicake cheesecake. Chupa chups pie pastry icing brownie wafer jujubes powder danish. Topping tiramisu danish jelly beans chupa chups dragée. Cake tootsie roll sweet roll marshmallow topping pudding toffee powder. Bear claw sesame snaps gummies unerdwear.com topping biscuit muffin. Donut chocolate muffin cotton candy marshmallow applicake.</p>
		</section>

	</div>
{/if}