{if $fragment eq 'head'}
	<li>
		<a href="#chat">Chat</a>
	</li>
{else}
	<div class="article" id="chat">
	<h2>Chat</h2>
	<p>Cupcake ipsum dolor sit amet toffee icing. Muffin danish cotton candy pudding cake danish chocolate candy. Oat cake apple pie ice cream biscuit brownie. Cookie chupa chups jelly lollipop. Chocolate cake sweet gummies ice cream powder gummi bears lemon drops icing caramels. Sesame snaps gingerbread chocolate bar sugar plum fruitcake icing jujubes pie.</p>
	
		
	</div>
{/if}